

<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" href="">
    <div class="logo">
      CRUD
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="container-fluid">
   
    <ul class="nav navbar-nav pull-left" id="access">
      <li><a   [routerLinkActive]="['active']" [routerLink]="['/userList']" >Home</a></li>
      <li><a  [routerLinkActive]="['active']" [routerLink]="['/createUser']" >Create User</a></li> 
    </ul>
  </div>



  <div class="collapse navbar-collapse" id="navbarCollapse">
    <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
        <div class="dropdown-menu" aria-labelledby="dropdown03">
          <a class="dropdown-item" routerLink="report-listing"><i class="fa fa-shield fa-fw"></i> Link 1 </a>
        </div>
      </li>
    </ul> -->
    <ul class="nav-profile">
      <li class="profile dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <!-- <div class="img" style="background-image: url('https://avatars3.githubusercontent.com/u/3959008?v=3&s=40')"> -->
            <div class="img" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPZiJZh_Ol5t80_Cug99-cVZYjmKB_o4FcxqoKgDu_58M6zdYRpw">
            
          </div>
          <span class="name">John Williams</span></a><div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1"><a class="dropdown-item" href="#"><i class="fa fa-bell icon"></i>
        Notifications
      </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="login.html">
        <i class="fa fa-power-off icon"></i>
        Logout
      </a>
        </div>
      </li>
    </ul>
  </div>
</nav>

